<html>
  <head>
    <title>Home | Konekt</title>
    <link rel="stylesheet" href="../public/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="../public/javascripts/jquery.min.js"></script>
    <script src="../public/javascripts/script.js"></script>
    <script src="../public/javascripts/materialize.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col s6" id="index-left">
        <img src="../public/images/konekt-logo.png">
        <p>
          Konekt is a user friendly social networking site that lets you upload images and text posts and share them among friends so you never miss a moment.
        </p>
      </div>
      <div class="col s6" id="index-right">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="#test1" class="active">Sign Up</a></li>
            <li class="tab col s3"><a href="#test2">Login</a></li>
          </ul>
        </div>
          <div id="test1" class="col s12">
            <form method="post" action="/register" enctype="multipart/form-data" align="center">
              <input name="name" type="text" placeholder="Name" class="custom-input">
              <input name="username" type="email" placeholder="Email" class="custom-input">
              <input name="password" type="password" placeholder="Password" class="custom-input">
              <input name="phone" type="number" placeholder="Phone" class="custom-input">
              <select name="gender" class="custom-input-no-border">
                <option disabled selected>Gender</option>
                <option>Male</option>
                <option>Female</option>
              </select>
              Profile Photo: <input type="file" name="image" placeholder="Enter Profile Photo"><br><br>
              <button class="custom-submit">Submit</button>
            </form>
          </div>
          <div id="test2" class="col s12">
            <form method="post" action="/login" align="center">
              <input name="username" type="email" placeholder="Email" class="custom-input">
              <input name="password" type="password" placeholder="Password" class="custom-input"><br><br>
              <button class="custom-submit">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </body>
</html>
