body {
  font: 14px "Montserrat";
  overflow: hidden;
}
#index-left{
  background: #88cf02;
  height: 100vh;
  text-align: center;
}
#index-left img{
  width: 35%;
}
#index-left p{
  color: white;
  font-size: 130%;
}
#index-right{
  padding: 3%;
}
.tabs .tab a, .tabs .tab a.active, .tabs .tab a.active:focus{
  color: #88cf02;
}
.tabs .indicator{
  background: #88cf02;
}
#index-right form{
  margin-top: 50px;
}
#index-right .custom-input{
  border: 1px lightgrey solid;
  text-indent: 5px;
  width: 80%;
}
#index-right .custom-input-no-border{
  text-indent: 5px;
  width: 80%;
  margin-left: 10%;
}
#index-right .custom-input:focus{
  border: 1px lightgrey solid;
  box-shadow: none;
}
.custom-submit{
  border: none;
  outline: none;
  padding: 2% 3%;
  background: #88cf02;
  color: white;
  transition: 0.5s;
}
.custom-submit:hover{
  border: none;
  outline: none;
  padding: 2% 3%;
  box-shadow: 2px 2px 2px lightgrey;
  color: #88cf02;
  background: white;
  border: 1px solid lightgrey;
  transition: 0.3s;
}
.grey-back{
  background: #e9ebee;
  overflow-y: auto;
}
.grey-back a{
  color: #88cf02;
}
nav{
  background: #88cf02;
}
.side-nav a{
  font-size: 32px;
  font-weight: lighter;
}
.photos{
  height: 400px;
}
.photos{
  background-size: cover;
  background-repeat: no-repeat;
}
.photos .profile-photo{
  position: relative;
  left: 40%;
  top: -55%;
  width: 21.5%;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
}
.overlay, .overlay1    {  background:rgba(0,0,0,.75);
               text-align:center;
               padding:45px 0 66px 0;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease; height: 180px;}

.profile-photo:hover .overlay{
               opacity:1;}
 .photos:hover .overlay1{
   opacity: 1;
 }
 .photos h5{
   position: relative;
   top: -55%;
   color: black;
   text-align: center;
 }
nav a.dropdown-button{
  color: white!important;
}
.custom-submit:focus{
  background: white;
  color: #88cf02;
}
